modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend and Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Create Users Table"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Add Mana Column"

[[workflows.workflow]]
name = "Start Backend and Frontend"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 3000

[[workflows.workflow]]
name = "Start Backend"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development node backend/src/app.js"
waitForPort = 8008

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"
waitForPort = 3000

[[workflows.workflow]]
name = "Create Users Table"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "psql $DATABASE_URL -f backend/src/db/create_user_table.sql"

[[workflows.workflow]]
name = "Add Mana Column"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "psql $DATABASE_URL -f backend/src/db/add_mana_column.sql"

[deployment]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3003

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 8008
externalPort = 8008

[[ports]]
localPort = 8009
externalPort = 3001

[[ports]]
localPort = 37907
externalPort = 3002
