modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend and Frontend"

[[workflows.workflow]]
name = "Start Backend and Frontend"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"
waitForPort = 8000

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 8000
externalPort = 80
