modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

# Metadata
[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run start"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install && node src/app.js"
waitForPort = 8008

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm start"
waitForPort = 3000

[[ports]]
localPort = 3000
externalPort = 3000


[[ports]]
localPort = 8008
externalPort = 8008



