.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.login, .register {
  border: 4px solid; /* Increased from 2px to 4px */
}

.login {
  background-color: #e6f7ff;
  border-color: #1890ff;
}

.register {
  background-color: #f6ffed;
  border-color: #52c41a;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 10px;
  padding: 5px;
}

.login-form button {
  margin-top: 10px;
  padding: 5px;
  background-color: #1890ff;
  color: white;
  border: none;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #40a9ff;
}

.switch-button {
  margin-top: 10px;
  padding: 5px;
  background-color: #faad14;
  color: white;
  border: 2px solid #d48806;
  cursor: pointer;
}

.switch-button:hover {
  background-color: #ffc53d;
}

.guest-button {
  margin-top: 10px;
  padding: 5px;
  background-color: #13c2c2;
  color: white;
  border: 2px solid #08979c;
  cursor: pointer;
}

.guest-button:hover {
  background-color: #36cfc9;
}
